@model MovieRegister.Models.MoviesAndPosters

@{
    ViewBag.Title = "Movie Register";
}

<div class="MovieMainContent">
    <div id="MovieList">

        @if (Model.Movies.Count() == 0)
        {
            <ul class="list-group-item">
                <li>There was no matching movie.</li>
            </ul>
        }
        else
        {
            int count = 0;

            foreach (var item in Model.Movies)
            {
                <div class="list-group-item" id="MovieBlock">

                    @if (Model.Posters[count] == "")
                    {
                        <a href="@Url.Action("MovieDetails", new MovieRegister.Views.ViewModel.MovieAndPosterViewModel
                            {
                                Poster = "",
                                title = item.title,
                                description = item.description,
                                length = item.length,
                                genre = item.genre,
                                year = item.year,
                                hasSeen = item.hasSeen,
                                isFavourite = item.isFavourite
                            })"><ul><li id="MoviePoster"><img src="~/Content/Images/missing_image.jpg" alt="Movie poster" /></li></ul></a>

                        count++;
                    }
                    else
                    {
                        <a href="@Url.Action("MovieDetails", new MovieRegister.Views.ViewModel.MovieAndPosterViewModel
                            {
                                Poster = Model.Posters[count],
                                title = item.title,
                                description = item.description,
                                length = item.length,
                                genre = item.genre,
                                year = item.year,
                                hasSeen = item.hasSeen,
                                isFavourite = item.isFavourite
                            })"><ul><li id="MoviePoster"><img src="@Model.Posters[count]" alt="Movie poster" /></li></ul></a>
                        count++;
                    }
                    <ul>
                        <li>Title:  @Html.DisplayFor(modelItem => item.title)</li>
                        <li>Length: @Html.DisplayFor(modelItem => item.length)</li>
                        <li>Genre:  @Html.DisplayFor(modelItem => item.genre)</li>
                        <li>Year:   @Html.DisplayFor(modelItem => item.year)</li>
                    </ul>
                    <ul>
                        <li>
                            <a href="@Url.Action("RemoveFavoriteMovie", new MovieRegister.Views.ViewModel.MovieViewModel
                                {
                                    Title = item.title,
                                    Description = item.description,
                                    Length = item.length,
                                    Genre = item.genre,
                                    Year = item.year,
                                    HasSeen = item.hasSeen,
                                    IsFavourite = item.isFavourite

                                })"><i class="glyphicon glyphicon-star"></i></a>

                            <a href="@Url.Action("DeleteMovie", new MovieRegister.Views.ViewModel.MovieViewModel
                                {
                                    Title = item.title,
                                    Description = item.description,
                                    Length = item.length,
                                    Genre = item.genre,
                                    Year = item.year,
                                    HasSeen = item.hasSeen,
                                    IsFavourite = item.isFavourite

                                })"><i class="glyphicon glyphicon-trash"></i></a>

                            <a href="@Url.Action("EditMovie", new MovieRegister.Views.ViewModel.MovieViewModel
                                {
                                    Title = item.title,
                                    Description = item.description,
                                    Length = item.length,
                                    Genre = item.genre,
                                    Year = item.year,
                                    HasSeen = item.hasSeen,
                                    IsFavourite = item.isFavourite

                                })"><i class="glyphicon glyphicon-edit"></i></a>
                        </li>
                    </ul>
                </div>
            }
        }

    </div>
</div>

